<a href="https://colab.research.google.com/github/19pa1a0564/python-basics/blob/master/Untitled4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
from sklearn import mean_squared_error
import matplotlib.pyplot as plt

ImportError: ignored

In [12]:
data=pd.read_csv("students_placement_data.csv")
data

     Roll No Gender  ... registered_for_ Placement_Training  placement status
0          1      M  ...                                 NO        Not placed
1          2      F  ...                                yes            Placed
2          3      F  ...                                yes        Not placed
3          4      M  ...                                yes        Not placed
4          5      M  ...                                yes        Not placed
..       ...    ...  ...                                ...               ...
112      113      M  ...                                 NO        Not placed
113      114      M  ...                                 NO        Not placed
114      115      M  ...                                 NO        Not placed
115      116      M  ...                                 NO        Not placed
116      117      M  ...                                 NO        Not placed

[117 rows x 9 columns]

In [4]:
data.isna().any()

Roll No                               False
Gender                                False
Section                               False
SSC Percentage                        False
inter_Diploma_percentage              False
B.Tech_percentage                     False
Backlogs                              False
registered_for_ Placement_Training    False
placement status                      False
dtype: bool

In [0]:
x=data[['SSC Percentage','inter_Diploma_percentage']].values
y=data[['B.Tech_percentage']].values

In [14]:
x.shape

(117, 2)

In [15]:
y.shape

(117, 1)

In [0]:
x_train, x_test, y_train, y_test = train_test_split (x, y, test_size=0.2, random_state=0)

In [17]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
model.intercept_

array([-8.93757155])

In [29]:
model.coef_

array([[0.13815068, 0.74767901]])

In [21]:
predicted_percentage=model.predict(x_test)
predicted_percentage.shape

(24, 1)

In [23]:
x_test.shape

(24, 2)

In [0]:
Actual_predicted=pd.DataFrame({"Actual": y_test.flatten(), "predicted": predicted_percentage.flatten()})

In [38]:
Actual_predicted

    Actual  predicted
0    71.49  59.484282
1    81.10  74.392371
2    62.98  47.705109
3    68.70  62.290592
4    61.02  62.072696
5    60.53  38.585344
6    61.00  63.657352
7    35.84  61.034019
8    68.30  64.213286
9    69.62  69.647789
10   83.38  69.474003
11   45.26  51.160697
12   78.00  72.075566
13   54.18  68.163101
14   65.53  64.418575
15   52.00  58.943065
16   51.00  61.571277
17   73.13  62.578180
18   74.30  71.039152
19   63.41  63.130881
20   70.01  66.634253
21   55.70  52.645689
22   74.96  69.414481
23   70.85  72.103695

In [44]:
print("R2 error:",metrics.r2_score(y_test, predicted_percentage))

R2 error: 0.20796768422106493